This bot was created based on open-source code, available on GitHub: https://github.com/nospamgang/tg-ai-moderator
Please note that the current running version may contain private changes and differ from the public code.

<b>Build Information:</b>
* Version: <code>{{ pkg_version }}</code>
* Commit: <code>{{ commit_hash }}</code>
* Branch: <code>{{ commit_branch }}</code>
* Commit Date: {{ commit_date }}
* Repository Status: {% if git_clean %}Clean (no local changes){% else %}Local changes are present{% endif %}